* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: custom;
  src: url(/src/styles/impact.ttf) format('truetype');
}

h1 {
  position: absolute;
  top: 0px;
  font-family: custom;
  font-size: 80px;
  padding: 0px;
}

#glowing-eyes {
  position: absolute;
  top: 152px;
  left: 970px;
  animation-duration: 4s;
  animation-name: glow;
  animation-iteration-count: infinite;
}

@keyframes glow {
  from {
    opacity: 0%;
  }
  
  50% {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

#keyboard {
  margin-left: 25px;
}
.naturalSpace {
  padding: 24px;
  border: 0px;
}

.accidentalSpace {
  padding: 24px;
  border: 0px;
}

button:active {
  background: rgba(234, 45, 98, 0.33);
   outline: none;
}

.natural {
  background-color: transparent;
  width: 50px;
  height: 300px;
  position: absolute;
  top: 248px;
  border: 0px;
}

#naturals {
  margin-left: 25px;

}

.accidental {
  background-color: transparent;
  width: 25px;
  height: 175px;
  border: 0px;
  position: absolute;
  top: 248px;
  z-index: 10;

}

#accidentals {
  margin-left: 63px;
}

#spacer {
  z-index: 1;
}
#synthBg {
  position: relative;
}

#synthScreen {
  position: absolute;
  top: 115px;
  left: 250px;
  height: 110px;
  width: 220px;
  z-index: 11;
  overflow: scroll;
  word-wrap: break-word;
  font-family: arial;
  line-height: 30px;
}

#playBack {
  position: absolute;
  top: 101px;
  left: 495px;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: 0px;
}

#playBack:active {
  background-color: rgba(122, 28, 9, 0.50);
}

#clear {
  shape: circle;
  position: absolute;
  top: 193px;
  left: 495px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 4px;
  border-radius: 50%;
}

#clear:active {
  background-color: rgba(122, 28, 9, 0.50);
}

#playClear {
    position: absolute;
    top: 95px;
    left: 535px;
}

.playClearSpace {
  padding: 8px;
  font-family: custom;
  font-size: 30px;
}

#synthOptions {
  position: absolute;
  top: 103px;
  left: 698px;
}

.synthOptionsSpace {
  padding-right: 15px;
  padding-bottom: 6px;
  font-family: custom;
  font-size: 14px;
}

.synthButton {
  background-color: transparent;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

#Poly {
  background-color: rgba(252, 186, 3, 0.75);
}

#how-to {
  width: 1150px;
  margin-left: 288px;
}

h2 {
  width: 600px;
  font-family: impact;
  padding-bottom: 10px;
  text-align: center;
}

p {
  width: 600px;
  font-family: helvetica;
  line-height: 20px;
  text-align: justify;
}

#footer{ 
  width: 1150px;
  background-color: #AF1E0E;
}

.footerSpace {
  padding: 15px;
  width: 575px;
  text-align: center;
  font-family: impact;
  font-size: 20px;
  color: black;
}

.footerLinks {
  color: white;
  text-decoration: none;
}
/* keys 1050 width, 1150 total
